header {
    position: relative;

    .logo {
        font-weight: 700;
        font-size: 26px;
    }

    .basket,
    .account {
        width: 40px;
    }

    .basket {
        &:hover,
        &.active {
            transform: scale(1.1) !important;
        }
    }

    .shopCart {
        position: absolute;
        top: 10%;
        right: 0;
        width: 450px;
        z-index: 2;
        box-shadow: 9px -10px 8px 0px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        padding: 20px;
        max-height: 300px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0px;
        }

        .empty {
            h2 {
                font-size: 20px;
            }
        }

        .total {
            font-size: 18px;
        }
    }

    .menu__list {
        float: right;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .menu__item {
            display: inline;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &:hover {
                opacity: 0.5;
            }
        }
    }

    .presentation {
        position: relative;
        margin: 50px 0;
        height: 600px;
        width: 100%;
        background-image: url(../../images/presentation.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        background-color: #8badb6;
        border-radius: 50px;
        &::after {
            position: absolute;
            content: "Make the right choice!";
            top: 20%;
            left: 5%;
            font-size: 50px;
            max-width: 300px;
            font-weight: 700;
        }
    }
}
